/**
*
*   My Extension
*
*
*/

.logo-image {
    width: 190px!important;
}

.text-shadow{
    color: rgb(105, 98, 98);
}

a{
    text-decoration: none!important;
}

.sortHeader {
    cursor: ns-resize;
}